{% extends "base.html" %}

{% block content %}

  <div class="course-list">
    <h1>Our courses</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Course</th>
          <th>About course</th>
          <th>Teacher</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td>{{ course.id }}</td>
          <td><a href="/courses/{{ course.id }}">{{ course.name }}</a></td>
          <td>{{ course.description }}</td>
          <td>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">Any courses yet</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}